Repository ryanpedersen42/config-pack-dynamic: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-front, build-back

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@0.1.2
  circleci-cli: circleci/circleci-cli@0.1.9

executors:
  base:
    docker:
      - image: cimg/base:stable

jobs:
  run_some_checks:
    executor: base
    steps:
      - checkout

  prepare_for_next:
    executor: path-filtering/default
    steps:
      - checkout
      - 
      - circleci-cli/install
      - path-filtering/set-parameters:
          base-revision: << pipeline.git.base_revision >>
          mapping: |
            front/.* build-front true
            back/.* build-back true
      - run: cat /tmp/pipeline-parameters.json
      - run:
          name: Set Version
          command: |
            echo "version: 2.1" >> continue-config.yml
      - run:
          name: Create Config
          command: |
            circleci config pack .circleci/primary >> continue-config.yml
      - run:
          name: Validate Config
          command: |
            circleci config validate continue-config.yml
      - path-filtering/set-parameters
      - run:
          name: Set resource class setting
          command: |
            import json

            branch = '<< pipeline.git.branch >>'
            param_path = '/tmp/pipeline-parameters.json'
            with open(param_path, 'r') as param_file:
              params = json.load(param_file)
            if branch == 'main':
              resource_size = 'large'
            else:
              resource_size = 'small'
            params.update({'default-resource-class': resource_size, 'resource_size': 'small', 'last_one': 'test'})
            with open(param_path, 'w') as fp: 
                fp.write(json.dumps(params))
          shell: /usr/bin/env python3
      - run: cat /tmp/pipeline-parameters.json

      - continuation/continue:
          configuration_path: ./continue-config.yml

workflows:
  setup-workflow:
    jobs:
      - run_some_checks
      - prepare_for_next:
          requires:
            - run_some_checks

stray -
  .circleci/config.yml
Due: none

some changes
  back/README.md
  front/README.md
Due: build-front, build-back

i had a hidden set-parameters in there.. maybe that was wiping it
  .circleci/config.yml
Due: none

change front
  front/README.md
Due: build-front

add some more logic
  .circleci/config.yml
  back/README.md
Due: build-back

figure out validate
  .circleci/config.yml
  back/README.md
Due: build-back

rm for now
  .circleci/config.yml
Due: none

back end
  .circleci/config.yml
  back/README.md
Due: build-back

correct names jq
  .circleci/config.yml
  front/README.md
Due: build-front

handle exceptions in bash
  .circleci/config.yml
  front/README.md
Due: build-front

maybe that was it
  .circleci/config.yml
Due: none

move back
  back/README.md
Due: build-back

special characters need quotes smh
  .circleci/config.yml
Due: none

changing back
  back/README.md
Due: build-back

updated bash
  .circleci/config.yml
  back/README.md
Due: build-back

missing apostrphe
  .circleci/config.yml
Due: none

back change
  back/README.md
Due: build-back

back and bash
  .circleci/config.yml
  back/README.md
Due: build-back

forgot to close out if then
  .circleci/config.yml
  back/README.md
Due: build-back

think the space was missing
  .circleci/config.yml
  back/README.md
Due: build-back

changing vars
  .circleci/config.yml
  back/README.md
Due: build-back

export missing
  .circleci/config.yml
  back/README.md
Due: build-back

not working still
  .circleci/config.yml
  back/README.md
Due: build-back

now trying envar
  .circleci/config.yml
  back/README.md
Due: build-back

with brackets
  .circleci/config.yml
  back/README.md
Due: build-back

rmv other 🦪
  .circleci/config.yml
  back/README.md
Due: build-back

never seen that error before
  .circleci/config.yml
  back/README.md
Due: build-back

once more ?
  .circleci/config.yml
Due: none

on main
  back/README.md
Due: build-back

rm shell after orb change has been rolled back
  .circleci/config.yml
  back/README.md
Due: build-back

needed source bashenv
  .circleci/config.yml
  back/README.md
Due: build-back

source bash
  .circleci/config.yml
  back/README.md
Due: build-back

split steps
  .circleci/config.yml
  back/README.md
Due: build-back

simplifying for the test
  .circleci/config.yml
Due: none

now does this one work..
  .circleci/config.yml
  back/README.md
Due: build-back

testing textbook approach 📙
  .circleci/config.yml
  back/README.md
Due: build-back

hard coding approach..
  .circleci/config.yml
Due: none

change back
  back/README.md
Due: build-back

exporter approach
  .circleci/config.yml
  back/README.md
Due: build-back

id changed that too
  .circleci/config.yml
  back/README.md
Due: build-back
